<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= country.name %> </title>
</head>
<body>
    <h1><%= country.name %> details</h1>
    <h3>Capital : <%= country.capital %> </h3>
    <h3>Major Cities :<ul>  <% for( let city of country.majorcities ) { %>
        <li><%= city %> </li>
    <% } %>  </ul></h3>
    <h3>Population : <%= country.population %> Billion</h3>
    <a href="/countries">Back</a>
</body>
</html>

